PORT=8081
APP_NAME=Apex
CLIENT_ID=app-a-client-id
CLIENT_SECRET=
AUTH_PROVIDER_URL=http://localhost:8080
AUTH_PROVIDER_INTERNAL_URL=http://localhost:8080
REDIRECT_URI=http://localhost:8081/auth/callback
FRONTEND_URL=http://localhost:4201
COOKIE_SECURE=false
DB_HOST=localhost
DB_PORT=5432
DB_USER=sso_user
DB_PASSWORD=
DB_NAME=app_a_db
DB_SSLMODE=disable
INTERNAL_API_SECRET=
