PORT=8082
APP_NAME=Bolt
CLIENT_ID=app-b-client-id
CLIENT_SECRET=
AUTH_PROVIDER_URL=http://localhost:8080
AUTH_PROVIDER_INTERNAL_URL=http://localhost:8080
REDIRECT_URI=http://localhost:8082/auth/callback
FRONTEND_URL=http://localhost:4202
COOKIE_SECURE=false
DB_HOST=localhost
DB_PORT=5432
DB_USER=sso_user
DB_PASSWORD=
DB_NAME=app_b_db
DB_SSLMODE=disable
INTERNAL_API_SECRET=
